{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            ">= 5% in KR",
            "ie >= 11"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "shippedProposals": true
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-transform-object-assign"
  ]
}