.home {}

.advert_area {
  margin: 70px 14px 0;
  background-color: #00ff00;
  height: 65px;
  border-radius: 10px;
}

.list_set {
  margin: 21px 14px 0;

  .list {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 17px 14px 0;

    &+.list {
      margin-top: 20px;
    }

    .profile {

      display: flex;

      .thumb {
        display: inline-block;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #000;
      }

      .name {
        line-height: 40px;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 12px;
      }
    }

    .contents_area {
      margin-top: 21px;
      position: relative;

      .contents {
        font-size: 14px;
        padding-right: 120px;
      }

      .data {
        position: absolute;
        top: 2px;
        right: 0;
        font-size: 11px;
      }

      .thumb {
        margin: 24px 0 0 12px;
        height: 95px;
        width: 95px;
        border-radius: 10px;
        background-color: #000;
      }

      .routine_area {
        margin-top: 16px;
        background-color: rgb(116, 181, 245);
        border-radius: 6px;
        padding-bottom: 15px;

        .title_area {
          padding: 28px 21px 0;
          color: #fff;
          display: flex;
          justify-content: space-between;

          .title {
            font-size: 15px;
          }

          .exercise_time {
            font-size: 15px;

            .time {
              font-size: 12px;
            }
          }
        }

        .routine_set {
          padding: 25px 0 0 8px;
          font-size: 14px;
          color: #fff;

          .item {
            display: inline-block;
            overflow: hidden;
            width: 61px;
            height: 28px;
            border-radius: 6px;
            background-color: rgb(46, 69, 82);
            text-align: center;
            line-height: 28px;
            font-size: 12px;

            &+.item {
              margin-left: 3px;
            }
          }

          .item:nth-child(6) {
            margin-left: 0;
          }

          .item:nth-child(n+6) {
            margin-top: 3px;
          }
        }
      }

      .view_more {
        margin: 60px 10px 16px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}