.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.ico_loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 8px;
  background: url(/assets/img/ico_loading.gif);
  background-size: 32px 8px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}